<!DOCTYPE html>
<html>

{% block stylesheets %}
<style>
    body { margin: 0px; padding: 0; font: 16px Arial }

    .table-row:after { content: ""; display: table; clear: both; } 
    .table-column { float: left; padding: 15px; }

    #container { margin: 5px; width: auto }
    .border-style { border: 1px solid #e3e3e3; border-radius: 8px; padding: 5px 10px; line-height: 5px; }

    #order_item { width: 100% }
    #order_item thead th { 
        border: 1px solid #c7c7c7;
        background:#e3e3e3; 
        padding: 10px 5px; 
        text-align: center !important; 
        font-weight: bold; 
    }
    #order_item tbody td { padding: 10px 5px; border-bottom: 1px solid #e5e5e5; }
    .col1 { width: 7%; text-align: center }
    .col2 { width: 50%; text-align: left }
    .col3 { width: 18%; text-align: right }
    .col4 { width: 10%; text-align: right }
    .col5 { width: 15%; text-align: right }
</style>
{% endblock %}

<body>
    <div class="table-row">
        <div class="table-column" style="width: 30%; font: 12px Arial; line-height: 5px;">
            <p style="font: 14px Arial; font-weight: bold;">.NFQ | Vietnam Limited</p>
            <p>Victoria Can Tho Resort, Cai Khe Ward</p>
            <p>Ninh Kieu District, Can Tho City, Vietnam</p>
            <p>Tax code: 0314588343</p>
        </div>
        <div class="table-column" style="width: 10%"> 
            {# <img src="http://127.0.0.1:8080/images/logo.png" alt="" width="64" height="64"> #}
        </div>
        <div class="table-column" style="width: 50%">
            <p style="float: right;">Issued at: {{ exportDate|date('Y-m-d H:i:s') }}</p><br />
            <p style="float: right;">KVAT Team</p>
        </div>
    </div>
    
    <div id="container">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
